---
// 非語系前綴轉址頁。
---
<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8" />
  <meta name="robots" content="noindex" />
  <title>FAQ</title>
  <script is:inline>
    (function () {
      var p = new URLSearchParams(location.search);
      var supported = ['zh-TW', 'zh-CN', 'en', 'ja', 'ko'];
      var lang = p.get('lang');
      if (supported.indexOf(lang) === -1) lang = 'zh-TW';
      location.replace('/voiback/' + lang + '/faq');
    })();
  </script>
</head>
<body></body>
</html>
